@media (min-width:768px){
    #footer-waper{
        display: flex;
        justify-content: center;
        width: 100%;
        background: rgb(26, 25, 25);
        height: 400px;
    }
    #footer{
        width: 80%;
        display: flex;
        justify-content: space-between;

    }
    #footer section{
        width: 30%;
      
        height: 300px;
        margin-top: 50Px;
        margin-bottom: 50px;
    }
    #footer div{
        width: 20%;
    
        height: 300px;
        margin-top: 50Px;
        margin-bottom: 50px;
    }
    #footer section #detail{
        display: flex;
        justify-content: space-between;
        height: 50px;
        width: 100%;
        margin-bottom: 20px;
        margin-top: 0px;
        
    }
    #footer section #detail img{
        width: 20%;
        height: 50px;

    }
    #footer section #detail h1{
        width: 75%;
        height: 50px;
        font-size: 20pt;
        padding-top: 10px;
        color: gray;
    }
    #footer div h1{
        font-size: 20pt;
        padding-top: 10px;
        color: gray;
    }
    #footer section  p{
        color: gray;
    }
    #footer div p{
        color: gray;
    }

}