@media (min-width:768px) {
    #midnav2 {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 100px;
    }

    #midnav2 div {
        display: flex;
        justify-content: space-between;
    }

    #midnav2 h1 {
        width: 30%;
        font-size: 20pt;
        ;

    }

    #midnav2 ul {
        width: 30%;
        display: flex;
        justify-content: space-between;


    }

    #midnav2 ul li {
        width: 20%;
        padding: 10px;

        list-style: none;
        color: gray;
        text-align: center;
        cursor: pointer;
 
    }

    #midnav2 ul li:hover {
        text-decoration: underline;
        transition: 2s;
    }

    #midnav2 a {
        width: 30%;
        text-align: right;
        padding-top: 15px;
        color: black;
        text-decoration: none;
        font-weight: 700;

    }

}

#pgrp a {
    width: 30%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    text-decoration: none;
    font-weight: 700;
    margin-left: 35%;
    display: block;

}
#pgrp a:hover{
    border: 1px solid black;
}
#pgrp{
    margin-bottom: 100px;
}