#navbar{
  background-color: antiquewhite;
  
}
.navlink{
  display: flex;
  width: 30%;
  justify-content: space-between;
  margin-top: 20px;
}
.navlink li {
  width: 22%;
  list-style: none;
  text-align: center;
}
.navgrp{
  display: flex;
  justify-content: space-between;
}
.navgrp h1{
  width: 10%;
  margin-left: 20%;
  font-size: 20pt;
  margin-top: 10px;
}
.navgrp div{
  width: 30%;
  margin-top: 20px;
}
.navgrp div img{
  width: 5%;
  height: 20px;
  margin-left: 90%;
  cursor: pointer;
}
.resgrp ul{
  text-align: center;
 
  
}
.resgrp{
  display: none;
}
.show{
  display:block;
 
}
.resgrp ul li{
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width:768px){
    .navlink{
      display: none;
    }
    .navgrp h1{
      width: 40%;
      margin-left: 5%;
    }
    .navgrp div{
      width: 45%;
      margin-top: 15px;
      visibility: visible;
   
    }
    .navgrp div img{
      width: 10%;
      margin-right: 5%;
      margin-left: 85%;
    }
    
}
@media (min-width:768px){
    .navgrp div{
      visibility: hidden;
    }
}