@media (min-width:768px) {

    #product2 img {
        width: 35%;
        height: 500px;

    }

    #product2 {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-left: 10%;
        margin-bottom: 100px;
    }

    #product2 div {
        width: 60%;
        padding-top: 85px;
    }

    #product2 button{
        padding: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 30%;
        background-color: transparent;
        border: 1px solid black;
    }
    #product2 button:hover{
        background-color: black;
        color: white;
        transition: 1s;
    }
}
#p2readless{
    display: none;
}
#readmore2{
    display: none;
}