@media (min-width:768px) {
    @keyframes product1 {
        from{
            width: 0%;
        }
        to{
            width: 35%;
        }
    }

    #product1 img {
        width: 35%;
        height: 500px;
       

    }
    .addani{
        animation: product1;
        animation-duration: 1.5s;
    }
 


    #product1 {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-left: 10%;
        margin-bottom: 100px;
    }

    #product1 div {
        width: 60%;
        padding-top: 60px;
    }

    #product1 button{
        padding: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 30%;
        background-color: transparent;
        border: 1px solid black;
    }
    #product1 button:hover{
        background-color: black;
        color: white;
        transition: 1s;
    }
}
#p1readless{
    display: none;
}
#readmore{
    display: none;
}
@media (max-width:767px){
    #product1 img{
        width: 100%;
    }
    #product1{
        width: 100%;
        
    }
    #product1 p{
        width: 80%;
        margin-left: 10%;
        text-align: justify;
    }
    #product1 h1{
        width: 80%;
        margin-left: 10%;
        text-align: left;
    }
    #product1 button{
        
        padding-top: 10px;
        padding-bottom: 10px;
        width: 80%;
        margin-left: 10%;
        background-color: transparent;
        border: 1px solid black;
    }
    #product1 button:hover{
        background-color: black;
        color: white;
        transition: 1s;
    }

}